__pycache__/
*.py[cod]

*.so

results/

venv/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.idea/*
/.idea
ran_tests.txt
webserver.log
/.idea
.idea/vcs.xml
